.container{
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 0.2fr 1fr;
    padding-top: 5px;
}

.firstRow{
    grid-column-start: 7;
    grid-column-end: 15;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.Descriptions{
    flex-direction: column;
    margin-left: 20px;
}
.Summary{
    text-align: justify;
    padding: 20px 25%;
    color:  #636262;
    font-size: 20px;
}

.secondRow{
    grid-column-start: 7;
    grid-column-end: 15;
    text-align: center;
    margin-top:20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #326cb1;
    padding: 8px;
    font-size: 20px;
}

.level {
    color: white;
}

.thirdRow{
    padding-top: 5%;
    grid-column-start: 7;
    grid-column-end: 15;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(83, 82, 79);
    border-left: 1px solid  rgba(104, 198, 235, 0.274);
    border-right: 1px solid  rgba(104, 198, 235, 0.274);
    font-size: 20px;
}
.schools{
    text-align: left;
    margin-top: 0;
}

.DegreeTitle{
    color: rgb(83, 82, 79);
    font-size: 20px;
}

.enrollLink{
    margin: 0 auto;
    font-size: 16px;
    width: 100px;
    color: white;
    background-color:#003399;
    border: none;
    text-decoration:none;
    padding: 5px;
    border-radius: 3px;
}
.syllabus{
    text-decoration: underline;
}
.syllabusHide{
    display: none;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.purple {
    color: purple;
}
.green {
    color: green;
}
@media screen and (max-width:950px){
    .DegreeTitle{
        font-size: 25px;
    }
    /* .Summary{
        height: 66%;
        text-align:justify;
        font-size: 15px;
    } */
}


@media  (max-width: 720px) {
   .firstRow {
      width: 100%;
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
    }
    .image{
        width: 110%;
        height: 130%;
    }
    .secondRow{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
    }
    .Summary{
        font-size: 25px;
    }
}

