.title {
    width: 70%;
    margin: 0 auto 10px;
    text-align: left;
    font-weight: bold;
    line-height: 100px;
    color: white;
    font-size: 30px;
    background-image: url("/images/graduation.jpeg");
    opacity: 0.7;
    min-width: 500px;
    max-width: 950px;
}

.homeAboutPage {
    text-align: center;
    color: #454545;
    font-size: 18px;
}

.firstPar {
    width: 53%;
    margin: 2rem auto;
    text-align: center;
    line-height: 30px;
    font-family: Charter;
    min-width: 520px;
    max-width: 950px;
}

.image {
    width: 70%;
    min-width: 500px;
    max-width: 950px;
}

.description {
    width: 54%;
    margin: 0 auto;
    padding: 20px;
    line-height: 30px;
    min-width: 520px;
    max-width: 950px;
}

.description p{
    text-align: justify;
}

i {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    line-height: 60px;
    width: 50%;
    font-size: 25px;
    font-family: Charter;

}

.initial {
    font-size: 30px;
}