.container{
    width: 70%;
    margin: 30px auto 0;
    display: grid;
    justify-items: start;
    background-color:  rgba(104, 198, 235, 0.274);
    padding-bottom: 50px;
    padding-top: 50px;
    min-width: 520px;
    max-width: 950px;
}

.container p {
    font-size: 16px;
}

.header{
    font-size: 20px;
    margin: 30px auto 0;
    color: rgb(83, 82, 79);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.page{
    margin: 30px auto 0;
    display: grid;
    color: rgb(83, 82, 79);
    grid-row-gap: 7px;
    grid-column-start:  1;
    grid-column-end: 4;
    margin-bottom: 60px;
    
}
.bigger{
    color: rgb(83, 82, 79);
    font-weight: bolder;
    margin-bottom: 8px;
}