.calendar {
    width: 70%;
    margin: 0 auto;
    color: #4b4b4b;
    min-width: 500px;
    max-width: 950px;
}

.calendarItem {
    line-height: 30px;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 10px;
}

.description {
    margin-left: 20px;
    border-bottom: #dbdbdb dashed 2px;
}

time {
    font-weight: bold;
    color: #489dff;
}

@media (max-width: 830px) {
    .calendar {
        grid-template-columns: 1fr;
        font-size: 18px;
    }
}

@media (max-width: 1500px) {
    .calendar {
        width: 70%;
    }
}